.about {
    display: inline-block;
    vertical-align: top;
}
.projectsdiv {
    height: 500px;
    width: 750px;
    border: solid 5px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 100px 0px;
    text-align: center;
    overflow-y: auto;
}
.pro1 {
    box-sizing: content-box;
    border: solid #5B6DCD 5px;
    padding: 5px 0px 0px 0px;
    width: 650px;
    margin: auto;
}
.pro1text {
    display: inline-block;
    vertical-align: top;
    margin: 0px auto 0px auto;
}
.pro1img {
    padding: 0px 0px 0px 20px;
}
