body {
    background-color: #21FFE4;
}

.pfp {
    border-radius: 50%;
    height: 300px;
    display: flex;
    margin: 0px auto;
}

.about {
    text-align: center;
}

.head {
    text-align: center;
}

.projectsdiv {
    background-color: #FFFFFF;
    height: 500px;
    width: 750px;
    border: solid 5px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 100px 0px;
    text-align: center;
    overflow-y: auto;
}

.pro {
    box-sizing: content-box;
    border: solid #5B6DCD 5px;
    padding: 5px 0px 0px 0px;
    width: 650px;
    margin: 0px auto 20px auto;
}

.protext {
    display: inline-block;
    vertical-align: top;
    margin: 0px auto 0px auto;
}

.proimg {
    padding: 0px 0px 0px 20px;
    height: 300px;
}
